*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: HK grotesk;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #E63946;
    text-decoration: none;
    font-size: 20px;
}

#menu li a:hover{
    text-decoration: underline;
}

#menu{
    float: right;
}

#home, #knitting, #yrurari, #contacts, #shop-page{
    max-width: 100vw;
    min-height: 100vh;
}

#home{
   background-color: #fff;
/*   background-image: url(immagini/yrurarisfondo.jpg);*/
   background-size: cover;
   background-position: center;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.about-link, .about-link:hover, .knitting-link, .knitting-link:hover, .footer-link, .footer-link:hover, .card-link, .card-link:hover{
    color: #4F4077;
    text-decoration: underline;
}

.card-text{
    color: grey;
}

#knitting{
     background-color: #fff;
}

#yrurari{
     background-color: #DDD6FF;
     color: #4F4077;
}

#yrurari-text, #knitting-text, .product-text{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 150px;
    padding-bottom: 10%;
    text-decoration: none;
    color: #4F4077;
}

#home-title{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#contacts-text, #social-icons{
  text-align: center;
  padding-top: 40vh;
  position: relative; /*???*/
  color: #4F4077;
}

#shop, h1{
    font-weight: bold;
}

.container{
  margin-left: 0;
  margin-right: 0;
  max-width: 3840px;

}

#logo{
  width: 150px;
  height: auto;
}

footer{
  text-align: center;
  background-color: #DCD6FF;
  color: #4F4077;
  font-size: 13px;
  padding-top: 1%;
/*  border-top-style: solid;
  border-top-width: thin;*/
  border-color: #E63946;
}

footer p{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#galleria, #immagineyrurari{
  /*max-height: 100vh;*/
}

#social-icons{
  list-style-type: none;
  display: inline-flex;
  font-size: 2.5em;
  padding: 0;
}

.card{
  margin:10px;
}

.btn-primary {
    color: #4F4077;
    background-color: #DCD6FF;
    border-color: #DCD6FF;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #4F4077;
    border-color: #4F4077;
    box-shadow: 0 0 0 0;
}

.icon, .social-icon, .social-icon:hover, .social-icon:active, .social-icon:focus{
  padding: 0.2em;
  color: #4F4077;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .navbar-collapse
    {
        background-color:#fff;
    }
}

@font-face {
  font-family: HK grotesk;
  src: url(HKGrotesk-Regular.otf);
}

@font-face {
  font-family: HK grotesk;
  src: url(HKGrotesk-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Icofont;
  src: url(icofont/fonts/icofont.woff);
}

#iwouldnotdo-title_.truncate('I would not do something like that sweater', {
  'length': 24,
  'separator': ' '
});
// => 'I would not do...'
